    *{
        margin: 0;
        padding: 0;
    }

    li{
        list-style-type: none;
    }

    body {
        position: relative;
        background: #fff;
        font-size: 13px;
        font-family: 'Roboto';
    }

    .row{
        margin-left: 0;
        margin-right: 0;
    }

    .col{
        padding: 0 !important;
    }

    .navbar{
        padding: 0;
        height:100%;
    }

    button{
        border: none;
    }

    a{
        text-decoration: none;
    }

    a:hover{
        text-decoration: none;
    }

/* ---------------------------menu_bar-------------------------- */
.hang_tren{
    border-bottom: #B8B8B8 solid 2px;
}

.menu_bar a{
    color: #fff;
}

li a{
    color: #fff;
}

button i{
    color: #fff;
}

.chua_a{
    padding: 10px 5px;
    margin: 10px 5px;
}

a:hover .chua_a{
    border: rgb(238, 88, 238) solid 2px;
} 

.name_vw{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:10px;
    margin-right:5px;

}

.chua_a:hover{
    border: none;
}

.the_chuc_nang{
    margin: 20px 0;
}

.cn_1_the a{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.cn_1_the{
    margin-left: 15px;
    font-family: Roboto;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-top:20px;

}

.cn_1_the:hover a{
    text-decoration: underline;
}

.hai_huoc{
    width: 100%;
    height: 20px;
    background-color: #271016;
}

.hang_tim_kiem{
    width: 100%;
    justify-content: space-between;
    margin-top: 20px !important;
}

.hang_tim_kiem input{
    width: 100%;
}

.o_the_a_db{
    display: flex;
    justify-content: right;
}

.o_nhan_vien{
    padding: 2px 10px;
    border: #000 solid 1px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #B8B8B8;
    border-radius: 5px;
    height:30px;
}

.o_nhan_vien a{
    vertical-align: middle;
}
.chu_tim_kiem a{
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-right: 30px;
}

.hang_tim_kiem_o{
    width: 100%;
    font-size: 16px;
    
}
.hang_tim_kiem_o input{
    background: #FFFFFF;
    border: 1px solid #B8B8B8;
    border-radius: 5px;
    height:30px;
    padding-left: 10px;
}
.hang_tim_kiem{
    margin-top: 10px;
}

.chu_tim_kiem{
    padding: 5px 0;
}

.o_lua_chon_nv{
    display: flex;
    justify-content: space-between;
}


.ba_muoi_nhan_vien{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.inp_them_nhan_vien{
    padding: 0px 10px;
    background-color: red;
    height: 25px;
    line-height: 25px;
}

.inp_them_nhan_vien a{
    color: #fff;
}

.bang_thong_ke{
    display: flex;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.stt img{
    border: #000 solid 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2px;
}

.bang_thong_ke a:hover{
    color: red !important;
    text-decoration: underline;
}

.stt{
    font-weight: 600;
}

.ip_check_rieng input{
    width: auto;
}

.stt2{
    font-weight: 500;
    font-size: 12px;
}

.con_hd{
    font-size: 10px;    
    color: rgb(121, 121, 121);
}

.bang_thong_ke{
    margin-top: 10px;
    padding-bottom: 10px;
}

.cn_lc_1{
    font-weight: 600;
}

.lua_chon_1{
    display: flex;
    font-size: 16px;
    margin-top: 20px;
}

.lua_chon_1 a{
    color: #000;
}

.lua_chon_1 a:hover{
    color: red;
}

.lưa_chon_2 a{
    padding: 5px 20px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;

}
.lưa_chon_2{
    margin-top: 20px;
}

.lưa_chon_2 a:hover{
    background-color: rgb(140, 140, 140);
}

.o_lua_chon_nv{
    margin: 10px;
}

.chuc_nang_da_chon{
    display: flex;
}

.menu_co_con{
    margin-right:20px;
    font-size: 16px;
}

.stt1{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.stt{
    font-family: Roboto;
    font-size: 13px;
    font-weight: 450;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}

.o_loc_cn{
    height: 25px;
    line-height: 25px;
    background-color: red;
    margin-top: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
}

.o_loc_cn a{
    color: #fff;
    padding: 0 10px;
}

.o_loc_cn:hover{
    background-color: rgb(140, 140, 140);
}

.dropdown{
    font-size: 16px;
}

.dropdown-item{
    font-size: 16px;
}