html{
    font-family: 'Roboto';
}

.phanchia{
    margin-top: 30px;
}

.menu_thong_tin_noi_bo{
    display: flex;
    justify-content: right;
    margin: 20px 0;
}

.tthsnb{
    margin: 0 30px;
    padding: 5px 10px;
}

.tthsnb a{
    color: #000;
    font-weight: 600;
}

.acthiennay{
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(221, 220, 220);
    box-shadow: 2px 2px 2px 2px rgb(200, 200, 200);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.tthsnb:hover{
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(221, 220, 220);
    box-shadow: 2px 2px 2px 2px rgb(200, 200, 200);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.tthsnb:hover a{
    color: #000;
}

.chia_moi_nhat{
    background-color: #271016;
    color: #fff;    
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    width: 130px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}