   body {
      font-family: 'Roboto', sans-serif;
      background-image: url("/assets/image/image30.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
}
.P_Title_Header{
   font-size: 40px;
   font-weight: 500;
   text-align: center;
   margin-top: 20px !important;
}
.P_Content{
   font-size: 16px;
   font-weight:500;
   margin-top: 15px !important;
   margin-bottom: 5px;

}
.Input{
background: #FFFFFF;
border: 1px solid rgba(184, 184, 184, 0.3);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 582px;
height: 52px;
display: block;  
margin-left: auto;  
margin-right: auto; 
}
.P_Otp{
   color: red;
   font-size: 13px;
}
.div-footer{
   background-color: #271016;
   line-height: 30px;
   width: auto;
   text-align: right; 
}
.div-footer p{
   font-size: 13px;
   color: white;
   display:inline;
   margin-right:47px !important ;
}

.A_Note{
   display: flex;
   margin-top: 10px;
   justify-content: left;
}

.DangKi p,a{
   display: inline;
   font-size: 16px;
   font-weight: 400;
   
}
.DangKi a{
   color: #FAA225 !important;
}
.DangKi{
   text-align: center;
   margin-top: 20px;
}

.P_Quick_login{
   position: relative ;
   text-align: center;
   margin-top:13px !important;

}
.P_Quick_login::before{
   position: absolute ;
   content:"";
   width:27%;
   left:0;
   top:50%;
   transform: translateY(-50%);
   border-bottom: 1px solid black;
   margin-left: 75px;
   
}
.P_Quick_login::after{
   position: absolute ;
   content:"";
   width:27%;
   right:0;
   top:50%;
   transform: translateY(-50%);
   border-bottom: 1px solid black;
   margin-right: 75px;  
}
.Button_Login{
margin-left: 20px;
width: 165px;
background: #FAFAFA;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
line-height:50px;
padding-left: 20px;

}

.Button{
   display: flex;
   justify-content: center;
   margin: 15px;
}
.Div_a_Cencel{
   font-size: 16px;
   font-weight: 400;
   text-align: center;
   margin-bottom: 15px;
}
.Button_Login p{
   font-size: 16px;
   font-weight: 500;
}
.Button_Login img{
   padding-right: 15px;
}


.Div_a_Cencel a{
 color: #000;
} 

.input{
   display: flex;
   justify-content: center;
}
.Div_Note { 
   justify-content: left !important;
   padding: 0px 70px !important;
}

.Dabgnhap{
   text-align:center;
}
.button_Login{
   font-size: 16px;
   width: 582px;
   height:52px;
   background-color: #FAA225;
   background: #FAA620;
   border: 1px solid rgba(184, 184, 184, 0.3);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   color: white;
   margin-top: 20px;
}
