body{
    font-family: 'Roboto';
}

.tat_ca_hang{
    margin: 30px 0 50px 0;
}

.menu_thong_tin_ho_so{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tths{
    margin: 0 40px;
}

.tths a{
    color: #000;
    font-weight: 600;
}

.tths:hover a{
    color: red !important;
    text-decoration: underline !important;
}

.hang_hoa_1{
    margin: 10px 0;
    padding: 20px 0;
}

.trang_thai_hang{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #B8B8B8;
    padding-bottom: 10px;
}

.thong_bao_giao_hang_va_trang_thai_hien_nay{
    display: flex;
}

.thong_bao_giao_hang{
    display: flex;
    margin-right: 50px;
}

.icon img{
    margin-top: -5px;
    margin-right: 5px;
}

.san_pham_xuat_hien{
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.anh_san_pham{
    margin-right: 10px;
}

.anh_san_pham_va_ten{
    display: flex;
}

.gia_ban_dau{
    text-decoration: line-through;
    margin-right: 20px;
}

.gia_tien_ca_2{
    display: flex;
    margin-bottom: 10px;
}

.tong_so_tien_mua{
    display: flex;
    margin-bottom: 10px;
    margin-left: -50px;
}

.tong_so_tien_mua b{
    margin-right: 20px;
    margin-top: 5px;
}

.tong_so_tien_mua p{
    color: red; 
    font-size: 20px; 
    font-weight: 600;
}

.chuc_nang_duoi{
    display: flex;
}

.danh_gia_duoi{
    padding: 5px 20px;
    background-color: red;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.danh_gia_duoi a{
    color: #fff;
}

.button_chuc_nang{
    display: flex;
    justify-content: right;
}

.danh_gia_duoi:hover a{
    color: red;
}

.danh_gia_duoi:hover{
    background-color: rgb(156, 156, 156);
}
