.container__recruit-list{
    margin-top: 50px;
}
.p_main_content_picture{
    font-size: 24px;
    font-size: 400;
    margin-top: 10px;
    color:#271016;
 }
 .p_content_picture{
    font-size: 16px;
    font-size: 400 !important;
    margin-top: 10px !important;
    color:#271016 !important;
 }
 .p_title_recruit{
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #271016;
 }
 .img_picture{
    display: block;  
    margin-left: auto;  
    margin-right: auto; 
    margin-top: 10px;
 }
.p_sub_title_recruit{
    height: 67px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #271016;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

body {
    position: relative;
    background: #fff;
    font-size: 14px;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col{
    padding: 0 !important;
}

.navbar{
    padding: 0 !important;
}

a{
    color: #000;
    text-decoration: none;
}

:hover a{
    color: #000;
    text-decoration: none;
}
/* ----------------------hedader--------------------------- */
.cac_vi_tri_tuyen_dung{
    margin: 20px 0;
}
.ten_cv{
    font-size: 20px;
    font-weight: 700;
    margin-top:15px 0;
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    color: #271016;

}

.mota_congviec{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    margin: 15px 0;
}

.luong_dia_diem{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    display: flex;
    justify-content: space-between;

}

.thoi_han_tuyen_dung{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.thoihan{
    margin-right: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.nut_nop_ho_so{
    background-color: #271016;
    line-height: 40px;
    width: 100%;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.nut_nop_ho_so a{
    color: #fff;
}

@media screen and (max-width:992px) {
    .phan_chia{
        display: block !important;
    }
}


/* -------------------comment-------------------------- */

.o_nhap_binh_luan{
    margin: 20px 0;
}

.input_o_nhap_binh_luan{
    padding: 5px 5px 30px 5px;
    width: 100%;
    box-shadow: 2px 5px 2px 2px rgb(230, 230, 230);
    border: #ccc 1px solid;
}

.o_hien_thi_comment{
    margin: 20px 0;
}

.thong_tin_comment{
    display: flex;
    padding: 5px;
    width: 100%;
    box-shadow: 2px 5px 2px 2px rgb(230, 230, 230);
    border: #ccc 1px solid;
}

.anh_avatar{
    margin-right: 10px;
}

.ten_nguoi_comment{
    font-size: 16px;
}

.noi_dung_binh_luan{
    margin: 5px 0;
    font-weight: 500;
}

.chuc_nang_phan_hoi_cua_comment{
    display: flex;
    margin: 10px 0;
    
}

.xem_them_comment{
    margin: 10px 0;
}

.phan_xem_them{
    background-color: #271016;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}
.row1{
    margin-top: 15px;
}
.row2{
    margin-top: 15px
}
.tong_comment {
    margin-top: 30px !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}
.sap_xep_comment{
    text-align: right;
    margin-bottom: 10px;
}
.thich{
    margin-right: 30px;
}
.phanhoi{
    margin-right: 30px;
}
