.btn_border:before {
    position: absolute;
    content: " ";
    width: 100%;
    top: 120%;
    border-bottom: 3px solid var(--primary-color);
}
.btn_border {
    position: relative;
    margin-top: 40px !important;
}
.btn_primary {
    padding: 4px 12px;
    background: var(--primary-color);
    border-radius: 5px;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

}
.news__item-thumb-link{
    
}
.kienthuc{
    color: #271016;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-left: 15px;
    text-decoration: underline !important;
}
.btn_primary + .btn_primary {
    margin-left: 12px;
}

.btn_primary:hover {
    color: #fff
}
.news__item-thumb{
    margin-top: 40px;
}
.anh1{
    margin-top: 40px;
}
.btn-view {
    width: 100%;
    background: var(--primary-color);
    text-align: center;
    border-radius: 5px;
    padding: 4px 0;
    cursor: pointer;
    margin-bottom: 50px;
}
.ft{
    margin-top: 60px;
}
.brand-value {
    margin-top: 65px;
}

.brand-value__content {
    background-image: url('../image/banner-sub-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.brand-value__content::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: #fff;
}

.brand-value__row {
    position: relative;
    z-index: 1;
}

.brand-value__row .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.brand-value__row .item p {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #271016;
}

.brand-value__row .item span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #271016;
}