@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Gulzar&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #271016;
    --hover-color: #FAA620;
    --height-header: 132px;
}

.col-lg-2-4 {
    flex: 0 0 20% !important;
    width: 20% !important;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-family: Roboto;
}






.btn_border:before {
    position: absolute;
    content: " ";
    width: 100%;
    top: 120%;
    border-bottom: 2px solid var(--primary-color);
}

.bg_primary {
    /* padding: 30px 0;*/
   
}

.bg_footer {
    background: url(../image/footer_thumb.png) no-repeat;
    width: 100%;
    background-size: 100% 100%;
    padding: 30px 0;
    margin-top: 50px;
}

.footer {
}

.bg_browns {
    background: var(--primary-color);
    
}

.bg_yellow {
    background: var(--hover-color);
}

p {
    margin: 0 !important;
}

ul {
    padding-left: 0 !important;
    margin: 0 !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header__wrap-logo {
    background: var(--primary-color);
}

.header__with-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__with-input {
    background: #fff;
    width: 40%;
    margin: 0 24px;
    border-radius: 10px;
    padding: 6px 0;
}

.header__input {
    outline: none;
    border: none;
    background: transparent;
    width: 93%;
    padding: 0 12px;
}

.header__input-icon {
    cursor: pointer;
}

.header__with-info {
    padding: 0 12px;
    color: #fff;
}

.header__info-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.header__info-desc {
    font-size: 13px;
    text-align: center;
}

.header__wrap-nav {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header .navbar-toggler {
    padding: 0;
    border: none;
    margin: 0 10px;
    box-shadow: none;
    outline: none;
}

.header .navbar-toggler .fa-bars {
    color: #271016;
    font-size: 28px
}

.header__nav-item .dropdown-menu {
    border: none;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    left: 10px;
    top: calc(100% + 5px);
}

.header__nav-item .dropdown-item:focus,
.header__nav-item .dropdown-item:hover {
    color: var(--hover-color);
    background: none;
}
.header__nav-item .dropdown-toggle::after {
    vertical-align: middle;
}

.header__nav-item-link {
    color: #000;
    font-weight: 600;
    transition: 0.2s;
    font-size: 16px;
    padding: 5px 25px;
}

.header__nav-item-link:hover {
    color: var(--hover-color);
}

.header__navbar-list,
.header__navbar-item-link {
    display: flex;
    align-items: center;
}

.header__navbar-list {
    width: 50%;
}

.header__navbar-list {
    justify-content: flex-end;
}

.header__navbar-item {
    padding: 0 24px;
}

.header__navbar-item-link {
    color: #000;
    transition: 0.2s;
}

.header__navbar-item-link:hover {
    color: var(--hover-color);
}

.header__navbar-item-name {
    padding-left: 4px;
    font-size: 16px;
    font-weight: 600;
}

.header__banner {
   
 margin-top: var(--height-header);
}

.header__thumg-link {
    width: 100%;
}

.container__wrap-navbar {
    background: var(--primary-color);
    margin: 12px 0;
    padding: 12px 0;
}

.body__navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body__navbar-item-desc {
    color: #fff;
    padding: 0 6px;
}

.category__thumg {
    width: 100%;
}

.category__title {
    color: #000;
    font-weight: bold;
    text-align: center;
    padding-top: 12px;
    font-size: 18px;
}

.container__with-title {
    text-align: center;
}

.container__title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
}

.title__icon {
    position: relative;
}

.title__icon::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    width: 37%;
    border-bottom: 2px solid var(--hover-color);
}

.title__icon::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    width: 37%;
    border-bottom: 2px solid var(--hover-color);
}

.container__products-cate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__products-cate-item {
    padding: 4px 10px;
    background : #FEE9C1;
    margin: 0 6px;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    transition: 0.2s;
    margin-top: 10px;
    margin-top: 30px;
}

.container__products-cate-item:hover {
    background: #000;
    color: #fff;
}


.product__item-thumb-link {
    width: 100%;
}

.product__item-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    margin-top: 6px;
}

.rating-icon {
    font-size: 11px;
    color: #ccc;
}

.rating-icon--active {
    color: var(--hover-color);
}

.product__item-name {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 10px !important;
    
}

.product__item-current-price {
    text-decoration: line-through;
    font-size: 14px;
}

.product__item-price-sale {
    font-weight: bold;
}

.product__item-btn {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
}



.about__us-thumb {
    width: 100%;
}

.container__about-us-thumb {
    display: flex;
}

.about__us-item-thumb {
    padding: 5px;
}

.about__us-item-thumb-link {
    width: 100%;
}

.form__banner-thumb {
    width: 100%;
    
}

.container__form {
    position: relative;
    margin-top: 60px;
}

.form__wrap-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: rgba(39, 16, 22, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 20px;
}

.form__input-title {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px !important;

}

.form__input-title-desc {
  
    margin-bottom: 20px !important;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

}

.form__input {
    margin: 12px 0;
    border: none;
    outline: none;
    background: #ccc;
    width: 90%;
    padding: 6px 10px;
    border-radius: 10px;
}

.form__input-btn {
    border: none;
    outline: none;
    background: var(--hover-color);
    border-radius: 10px;
    padding: 4px 10px;
    color: #fff;
    font-weight: 500;
}



.review__item-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
}
.review__item{
    margin-top: 30px !important;
}
.review__item-name {
    text-align: center;
    font-weight: bold;
    padding: 6px 0;
}

.review__item-content {
    text-align: center;
}

.banner__sub-thumb {
    width: 100%;
}

.product__item-link {
    color: red;
}

.footer__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__list {
    color: #fff;
}

.footer-title {
    text-transform: uppercase;
    font-weight: bold;
}

.footer-title-desc {
    font-style: italic;
    font-size: 14px;
}

.footer_item {
    padding: 6px 0;
}

.footer__item-link {
    width: 100%;
    margin-top: 16px;
}

.footer_item-seconds,
.footer-title-seconds {
    padding-left: 24px;
}

.about__us-title {
    color: var(--hover-color);
    font-size: 64px;
    text-align: center;
}

.about__us-item-thumb-link {
    width: 100%;
}

.about__us-item-sub-title {
    text-transform: uppercase;
    font-weight: bold;
}

.about__us-item-thumb {
    width: 100%;
}



.about__us-items-item .about__us-item {
    padding: 0 12px;
}




#exp {
    color: #000;
}

.progress__title {
    min-width: 150px;
}

.progress-bar {
    background: #000 !important;
    color: #fff !important;
    border-radius: 20px;
}

.progress_wrap {
    display: flex;
    margin: 12px 0;
    align-items: center;
}

.progress {
    width: 100%;
}

.about__us-exp-sub-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.container__nav-controls {
    display: flex;
    justify-content: flex-end;
}

.nav__controls-btn {
    margin: 0 15px ;
    color: #000;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 500;
}

.nav__controls-btn--active {
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    background: #ddd;
    color: #000;
}

.nav__controls-btn:hover {
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    background: #ddd;
    color: #000;
}

.nav-controls-item {
    display: flex;
    position: relative;
}

.nav-controls-item::before {
    position: absolute;
    content: "";
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 2px solid var(--primary-color);
}

.nav-controls-item-title {
    background: var(--primary-color);
    line-height: 30px;
    padding: 0 10px;
    color: #fff;
    position: relative;
}

.nav-controls-item-title::before {
    position: absolute;
    content: "";
    top: 0;
    right: -71%;
    border-style: solid;
    border-width: 15px 30px; 
    border-color: transparent transparent transparent var(--primary-color);
}


.pagination {
    display: flex;
    margin: 24px 0 !important;
    justify-content: center;
}

.page-item-link {
    padding: 4px 10px;
    color: #000;
}

.page-item--active .page-item-link{
    color: var(--hover-color);
    font-weight: bold;
}

.page-item:hover .page-item-link {
    color: var(--hover-color);
}

.news__item-thumb-link {
    width: 100%;
}

.news__item-thumb {
    margin-top: 24px;
}

.container__news {
    margin-bottom: 30px;
}


.btn-view-link {
    color: #fff;
}

.btn-view:hover .btn-view-link {
    color: #fff;
}


.container__recruit-thumb {
    display: flex;
    align-items: center;
}

.container__recruit-thumb-item {
    margin-top: 7px;
}
.container__wrap-navbar{
    margin-top: 0px;
}
/*-----------------------------------------------------------*/
.container__block {
    display: flex;
    align-items: center;
    position: relative;
}

.container__block::before {
    position: absolute;
    content: "";
    width: 100%;
    top: calc( 100% - 2px );
    border-bottom: 3px solid var(--primary-color);
}

.container__block-box {
    width: 20px;
    height: 30px;
    background: var(--primary-color);
    position: relative;
}

.container__block-box::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 100%;
    border-style: solid;
    border-width: 15px 8px;
    border-color: transparent transparent var(--primary-color) var(--primary-color);
}

.container__block-title {
    padding: 0 16px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

}
/*---------------------------------------------------*/
.date_author{
    text-align: right;
    margin-bottom: 5px !important;
}
.product__item-desc{
    font-size: 17px;
    font-family: Roboto;
    font-weight: 400;
    margin-top: 5px !important;
}
.product__item-thumb{
    margin-left: 30px;
    margin-top: 50px;
}
.category__thumg{
    width: 226px;
    height: auto;
    display: block;  
    margin-left: auto;  
    margin-right: auto;
    margin-top: 40px; 
}
.category__title{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.slide__products__item_2{
    margin-top: 20px;
}
.slide__products__item{
 
}

.container__form{
    margin-bottom: 60px !important;
}
.banner__sub-thumb{
    margin-top: 20px;
}


.container__block{
    margin-top: 50px !important;
}

@media (max-width: 576px) {
    .header__wrap-nav .navbar .container {
        padding: 0;
    }

    .header__wrap-nav .navbar-collapse {
        margin-top: 5px;
        padding: 0 10px;
        border-top: 1px solid rgb(39, 16, 22);
    }

    .header__nav-item-link {
        padding: 10px 0;
        display: block;
    }
}