body{
    font-family: 'Roboto';
}


.menu_thong_tin_ho_so{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.tths{
    margin-right:40px;
    margin-top: 30px;
}

.tths a{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.tths:hover a{
    color: red !important;
    text-decoration: underline !important;
}

.avatar_clover{
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
}

.the_in input{
    border-radius: 5px;
    padding: 5px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #B8B8B8;
}

.ip_chung{
    margin-top: 5px;
}

.the_in{
    max-width: 100%;
    margin-top: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.nhap_thong_tin_ca_nhan{
    width: 70%;
}

.nttcn{
    width: 100%;
    display: flex;
    justify-content: center;
}


.txt2{
    color:black;

}

.the_button_ket_thuc{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.the_button_ket_thuc input{
    background-color: #FAA620;
    color: #fff;
    border: 1px solid rgba(184, 184, 184, 0.3);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 50%;
    padding: 10px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ip_chung{
    display: flex;
}

